<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<noscript>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</noscript>


<!-- Internal templates -->
{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- bundled stylesheets -->
{{- $cssFiles := slice -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/font.css") -}}
{{- if (or (eq .Site.Params.UseBootstrapCDN true) (eq .Site.Params.UseBootstrapCDN "css")) -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{{- else -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/bootstrap.min.css") -}}
{{- end -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/header.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/footer.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/theme.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/index.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/projects.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/list.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/about.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/single.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/gallery.css") -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/viewer.min.css") -}}
{{- if .Site.Params.customCSS -}}
{{- $cssFiles = $cssFiles | append (resources.Get "css/custom.css") -}}
{{- end -}}
{{- $bundle := $cssFiles | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" media="all">

<style>
    :root {
        --text-color: {{ .Site.Params.color.textColor | default "#343a40" }};
        --text-secondary-color: {{ .Site.Params.color.secondaryTextColor | default "#6c757d" }};
        --text-link-color: {{ .Site.Params.color.textLinkColor | default (.Site.Params.color.primaryColor | default "#007bff") }};
        --background-color: {{ .Site.Params.color.backgroundColor | default "#eaedf0" }};
        --secondary-background-color: {{ .Site.Params.color.secondaryBackgroundColor | default "#64ffda1a" }};
        --primary-color: {{ .Site.Params.color.primaryColor | default "#007bff" }};
        --secondary-color: {{ .Site.Params.color.secondaryColor | default "#f8f9fa" }};

        /* dark mode colors */
        --text-color-dark: {{ .Site.Params.color.darkmode.textColor | default "#e4e6eb" }};
        --text-secondary-color-dark: {{ .Site.Params.color.darkmode.secondaryTextColor | default "#b0b3b8" }};
        --text-link-color-dark: {{ .Site.Params.color.darkmode.textLinkColor | default (.Site.Params.color.darkmode.primaryColor | default "#ffffff") }};
        --background-color-dark: {{ .Site.Params.color.darkmode.backgroundColor | default "#18191a" }};
        --secondary-background-color-dark: {{ .Site.Params.color.darkmode.secondaryBackgroundColor | default "#212529" }};
        --primary-color-dark: {{ .Site.Params.color.darkmode.primaryColor | default "#ffffff" }};
        --secondary-color-dark: {{ .Site.Params.color.darkmode.secondaryColor | default "#212529" }};
    }
    body {
        font-size: {{ .Site.Params.font.fontSize | default "1rem" }};
        font-weight: {{ .Site.Params.font.fontWeight | default "400" }};
        line-height: {{ .Site.Params.font.lineHeight | default "1.5" }};
        text-align: {{ .Site.Params.font.textAlign | default "left" }};
    }

    html, body {
        background-color: var(--background-color) !important;
    }

    body::-webkit-scrollbar {
        height: 0px;
        width: 8px;
        background-color: var(--background-color);
    }

    ::-webkit-scrollbar-track {
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: #b0b0b0;
        outline: 1px solid var(--background-color);
    }

    #search-content::-webkit-scrollbar {
        width: .5em;
        height: .1em;
        background-color: var(--background-color);
    }
</style>

{{ partial "head/extensions.html" . }}
